@{
    ViewData["Title"] = "Wedding Planner Details";
}

@using WeddingPlanner.Models
@model WrapperViewModel
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2> @Model.OneWedding.WedderOne and @Model.OneWedding.WedderTwo's Wedding</h2>
        </div>
        <div class="col-sm-2">
            <a href="/Dashboard">Dashboard</a>
        </div>
        <div class="col-sm-2">
            <a href="logout">Log Out</a>
        </div>
    </div>
    <br>
    <div class="row">
        <h4>
        Date: @Model.OneWedding.WeddingDate.ToLongDateString()
        </h4>
    </div>
    <div class="row">
        <h4>
        Address: @Model.OneWedding.Address
        </h4>
    </div>
    <div class="row">
        <h4>
        Guests: <br>
        </h4>
    </div>
        

        @foreach(var g in Model.OneWedding.Guests)
        {
            <p>
                @g.User.FirstName @g.User.LastName
            </p>
        }


</div>